##
# Cartfile

github "dydus0x14/Bender" "feature/concurrent_array_rule"
github "johnsundell/unbox" == 2.5.0
github "Hearst-DD/ObjectMapper" == 3.1.0
github "hkellaway/Gloss" == 2.0.0
github "bignerdranch/Freddy" == 3.0.3
github "thoughtbot/Argo" == 4.1.2
github "SwiftyJSON/SwiftyJSON" == 4.0.0
github "utahiosmac/Marshal" == 1.2.4